<nav>
    <ul>
        {{#if admin}}
        <li {{#if home}}class="current-page"{{/if}}><a href="/admin">Home</a></li>
        <li {{#if blog}}class="current-page"{{/if}}><a href="/admin-blog-management">MEM Blog</a></li>
        <li {{#if clients}}class="current-page"{{/if}}><a href="/admin-testimonial-management">Testimonials</a></li>
        <li {{#if nutrition}}class="current-page"{{/if}}><a href="/admin-nutrition-management">Nutrition</a></li>        
        {{else}}
        <li {{#if home}}class="current-page"{{/if}}><a href="/">Home</a></li>
        <li {{#if blog}}class="current-page"{{/if}}><a href="/blog">MEM Blog</a></li>
        <li {{#if clients}}class="current-page"{{/if}}><a href="/testimonials">Testimonials</a></li>
        <li {{#if nutrition}}class="current-page"{{/if}}><a href="/nutrition">Nutrition</a></li>
        <li {{#if faq}}class="current-page"{{/if}}><a href="/faq">FAQ</a></li>
        {{/if}}
    </ul>
</nav>