
<h1>Add New Testimonial</h1>
<div class="row">
    <form class="col-sm-8" id="testimonial-submit-form">
        <div class="form-group">
            <label for="client">Client Name: </label>
            <input required class="short-text form-control" type="text" id="client" name="client" />
        </div>
        <div class="form-group">
            <label for="testimonial-date">Testimonial Date: </label>
            <input required class="short-text form-control" type="date" id="testimonial-date" name="date" />
        </div>
        <div class="form-group">
            <label for="message">Testimonial Message: </label>
            <textarea required rows="10" class="form-control" type="text" id="message" name="message"></textarea>
        </div>
        <button id="testimonial-submit-button" class="btn btn-success">Add Testimonial</button>
    </form>
    <div class="col-sm-4"></div>
</div>
<script>
    $("#testimonial-submit-button").click(function(event){
        $('#testimonial-submit-form').validate({
            submitHandler : function(form){
                var testimonial = JSON.stringify(admin.MapObject($(form).serializeArray()));

                $.ajax({
                    url: '/addTestimonial',
                    data: testimonial,
                    type: 'POST',
                    contentType: "application/json",
                    success: function(data){
                        if(data == "success"){
                            $('#testimonial-submit-form')[0].reset();
                        }else{
                            alert("Error: form did not save.");
                        }
                    },
                    error: function(){
                        console.log('Server Error.');
                    }
                });               
            }
        });
    });
</script>